# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
_output
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.idea
seautil/seautil
sealer/sealer
*.swp

pkg/cloud/dashboard/target/
pkg/cloud/dashboard/dist/
pkg/cloud/dashboard/Cargo.lock

docs/site/node_modules
docs/site/package-lock.json

